@import 'tailwindcss';

@layer base {
	@font-face {
		font-family: 'font-alte-haas-grotesk';
		src: url('/fonts/AlteHaasGroteskRegular.ttf') format('tff');
	}

	@font-face {
		font-family: 'font-alte-haas-grotesk-bold';
		src: url('/fonts/AlteHaasGroteskBold.ttf') format('tff');
	}
}