@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@layer base {
	/* html {
		font-family: 'font-alte-haas-grotesk', system-ui, sans-serif;
	} */

	@font-face {
		font-family: 'font-alte-haas-grotesk';
		src: url('/fonts/AlteHaasGroteskRegular.ttf') format('tff');
	}
	
	@font-face {
		font-family: 'font-alte-haas-grotesk-bold';
		src: url('/fonts/AlteHaasGroteskBold.ttf') format('tff');
	}
}
